[Desktop Entry]
Version=1.0
Type=Application
Name=raskladka
Comment=Переключение раскладки клавиатуры по двойному Shift
Exec=raskladka
Icon=raskladka
Categories=Utility;
Terminal=false
X-GNOME-Autostart-enabled=true
